@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slide-in {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoom-in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}

@keyframes zoom-out {
    from {
        transform: scale(2);
    }
    to {
        transform: scale(1);
    }
}

/* Set initial state of the text */
.body-text {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 1s ease forwards;
}

.countdown-text {
    animation: scale 2s infinite;
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
